{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4">
<table class="table table-condensed">
	<tr>
		<td colspan="2">
			{% if user.socialaccount_set.all.0.get_avatar_url %}
			<img src="{{user.socialaccount_set.all.0.get_avatar_url}}">
			{% else %}
			<i class="fa fa-user" style="font-size: 300px;"></i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>
			{% trans "Username" %}
		</th>
		<td>
			{{user.username}}
		</td>
	</tr>
	<tr>
		<th>
			{% trans "Full name" %}
		</th>
		<td>
			{{user.get_full_name}}
		</td>
	</tr>
	<tr>
		<th>
			{% trans "Email" %}
		</th>
		<td>
			{{user.email}}
		</td>	
	</tr>
	{% if user.userprofile.date_of_birth %}
	<tr>
		<th>
			{% trans "Date of birth" %}
		</th>
		<td>
			{{user.userprofile.date_of_birth}}
		</td>	
	</tr>
	{% endif %}
	{% if user.userprofile.gender %}
	<tr>
		<th>
			{% trans "Gender" %}
		</th>
		<td>
			<i class="fa fa-{{user.userprofile.gender}}"></i> {{user.userprofile.get_gender_display}}
		</td>	
	</tr>
	{% endif %}
	{% if user.userprofile.streetaddress %}
	<tr>
		<th>
			{% trans "Street address" %}
		</th>
		<td>
			{{user.userprofile.streetaddress}}
		</td>	
	</tr>
	{% endif %}
	{% if user.userprofile.postalcode %}
	<tr>
		<th>
			{% trans "Postal code" %}
		</th>
		<td>
			{{user.userprofile.postalcode}}
		</td>	
	</tr>
	{% endif %}
	{% if user.userprofile.country %}
	<tr>
		<th>
			{% trans "Country" %}
		</th>
		<td>
			{{user.userprofile.country.name}}
		</td>	
	</tr>
	{% endif %}
	{% if user.userprofile.phone %}
	<tr>
		<th>
			{% trans "Phone number" %}
		</th>
		<td>
			{{user.userprofile.phone}}
		</td>	
	</tr>
	{% endif %}
	<tr>
		<th>
			{% trans "Registered" %}
		</th>
		<td>
			{{user.date_joined}}
		</td>	
	</tr>
	{% if user.is_staff or user.is_superuser %}
	<tr>
		<th>
			{% trans "Access" %}
		</th>
		<td>
			{% if user.is_staff %}<span class="label label-info">Staff</span>{% endif %}
			{% if user.is_superuser %}<span class="label label-success">Superuser</span>{% endif %}
		</td>
	</tr>
	{% endif %}
</table>
</div>
</div>
</div>
{% endblock %}
