{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-md-4">
<table class="table table-condensed">
	<tr>
		<td colspan="2">
			{% if user.socialaccount_set.all.0.get_avatar_url %}
			<img src="{{user.socialaccount_set.all.0.get_avatar_url}}">
			{% else %}
			<i class="fa fa-user" style="font-size: 300px;"></i>
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>
			Username
		</th>
		<td>
			{{user.username}}
		</td>
	</tr>
	<tr>
		<th>
			Full name
		</th>
		<td>
			{{user.get_full_name}}
		</td>
	</tr>
	<tr>
		<th>
			Email
		</th>
		<td>
			{{user.email}}
		</td>	
	</tr>
	<tr>
		<th>
			Registered
		</th>
		<td>
			{{user.date_joined}}
		</td>	
	</tr>
	{% if user.is_staff or user.is_superuser %}
	<tr>
		<th>
			Access
		</th>
		<td>
			{% if user.is_staff %}<span class="label label-info">Staff</span>{% endif %}
			{% if user.is_superuser %}<span class="label label-success">Superuser</span>{% endif %}
		</td>
	</tr>
	{% endif %}
</table>
</div>
</div>

{% endblock %}
