{% extends "base.html" %}
{% load i18n %}
{% load owns_org %}

{% block content %}

<div class="container">
	<div class="page-header">
		<h1>{{organization.name}} - {{event.name}} <small>{% trans "Administration" %}</small></h1>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "About" %} <a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{{event.about}}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Logo/Image" %}<a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{{organization.image}}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Website" %}<a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{{event.externalurl}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Owners" %} <a class="fa fa-plus-square-o pull-right" href="#FIXME"></a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>{% trans "Username" %}</th>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Email" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for owner in event.owners %}
							<tr>
								<td>
									{{owner.username}}
								</td>
								<td>
									{{owner.get_full_name}}
								</td>
								<td>
									{{owner.email}}
									<a class="fa fa-minus-square-o pull-right" href="#FIXME"></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Event settings" %} <a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{% trans "Event active" %} {{event.is_active|yesno:_("Yes,No")}}
					<br />{% trans "Start time:" %} {{event.startdatetime}}
					<br />{% trans "End time:" %} {{event.enddatetime}}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					 {% trans "Event crew" %}<a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					FIXME
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Event tickets" %} <a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					<table class="table">
					<thead>
						<tr>
							<th>{% trans "Ticketname" %}</th>
							<th>{% trans "For sale" %}</th>
							<th>{% trans "Reserved" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for ticket in tickettypes %}
							<tr>
								<td>
									{{ticket.name}}
								</td>
								<td>
									x
								</td>
								<td>
									y
									<a class="fa fa-minus-square-o pull-right" href="#FIXME"></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock%}
