{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<div class="jumbotron">
<div class="container">
<h1>{{event.name}}</h1>
<p>{{event.about}}</p>
<p>
{% if event.externalurl %}
<a href="{{organization.externalurl}}" class="btn btn-primary btn-lg" role="button">{% trans "Visit website" %} &raquo;</a>
{% endif %}
{% if event.externalurl %}
<a href="#FIXME-buy-tickets-please" class="btn btn-warning btn-lg" role="button">{% trans "Buy tickets" %} &raquo;</a>
{% endif %}
</p>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">{% trans "When" %}</div>
				<div class="panel-body">
					<ul>
						<li>{% trans "Starts:" %} {{event.startdatetime}}</li>
						<li>{% trans "Ends:" %} {{event.enddatetime}}</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">{% trans "Where" %}</div>
				<div class="panel-body">
					<ul>{% comment %} FIXME: if address exists {% endcomment %}
						<li>{% trans "Address:" %} {{event.streetaddress}}</li>
						<li>{% trans "Postalcode:" %} {{event.postalcode}}</li>
					</ul>
					<a href="#FIXME-if-map" class="btn btn-default" role="button">{% trans "See on map" %} &raquo;</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">{% trans "Organized by" %}</div>
				<div class="panel-body">
					{% if organization.logo %}
						{% thumbnail organization.logo 100x100 upscale as thumb %}
						<a href="{% url 'organization_front' slug=organization.urlslug %}"><img src="{{thumb.url}}" height="{{thumb.height}}" width="{{thumb.width}}" alt="Organization logo" class="img-responsive center-block"></a>
					{% else %}
						{{event.organization.name}}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock%}
