{% extends "core/base.html"%}
{% load i18n %}

{% load guardian_tags %}
{% get_obj_perms request.user for organization as "org_perms" %}

{% block content %}

<div class="container">

<h1 class="page-header">{{organization.name}} <small>{% trans "Organization" %}</small></h1>

<h2>About</h2>
<p> FIXME </p>

<h2>{% trans "Events" %}</h2>
{% for event in organization.event_set.all %}
<div class="list-group">
    <a href="{% url 'event_detail' slug=event.slug %}" class="list-group-item">
        <h3 class="list-group-item-heading">{{event.name}}</h3>
        <p class="list-group-item-text">{% trans "Organized by:" %} {{event.organization.name}}</p>
        <p class="list-group-item-text">{% trans "Start time:" %} {{event.start}}</p>
        <p class="list-group-item-text">{% trans "End time:" %} {{event.end}}</p>
    </a>
</div>
{% empty %}
<p>{% trans "This organization has no events" %}</p>
{% endfor %}


{% if "manage_organization" in org_perms or perms.event.add_organization %}
    <h2>{% trans "Management" %}</h2>
    <div class="well">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Managers" %}</div>
                <div class="panel-body">
                    <ul>
                    {% for managerinstance in organization.get_managers %}
                        <li>{{managerinstance.user}}</li>
                    {% endfor %}
                    <ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Events" %}</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "About" %}</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    </div>
{% endif %}

</div>

{% endblock %}
