{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
<div class="container">
<h1>Members of {{crew.name}}</h1>
<p>Event {{event.name}}</p>
</div>
</div>

{% if crew %}
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">{% trans "CrewMembers" %}</div>
				<div class="panel-body">
					<table class="table">
						<thead>
							<tr>
								<th>Nick</th>
								<th>Tilgang</th>
							</tr>
						</thead>
						<tbody>
							{% for member in crew.members %}
							<tr>
								<td>{{member.user.username}}</td>
								<td>{{member.access}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>
{% endif %}

{% endblock %}
