{% extends "base.html" %}
{% load i18n %}
{% load owns_org %}
{% load thumbnail %}

{% block content %}

<div class="container">
	<div class="page-header">
		<h1>{{organization.name}} <small>{% trans "Administration" %}</small></h1>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "About" %} <a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{{organization.about}}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Logo/Image" %}<a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{% if organization.logo %}
					{% thumbnail organization.logo 100x100 upscale as thumb %}
					<img src="{{thumb.url}}" height="{{thumb.height}}" width="{{thumb.width}}" alt="Organization logo" class="img-responsive center-block">
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Website" %}<a class="fa fa-edit pull-right" href="#FIXME"></a>
				</div>
				<div class="panel-body">
					{{organization.externalurl}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Owners" %} <a class="fa fa-plus-square-o pull-right" href="#FIXME"></a>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>{% trans "Username" %}</th>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Email" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for owner in organization.owners %}
							<tr>
								<td>
									{{owner.username}}
								</td>
								<td>
									{{owner.get_full_name}}
								</td>
								<td>
									{{owner.email}}
									<a class="fa fa-minus-square-o pull-right" href="#FIXME"></a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Events" %} <a class="fa fa-plus-square-o pull-right" href="{% url 'organization_event_create' organization.urlslug %}"></a>
				</div>
				{% if organization.events %}
				<table class="table">
					<thead>
						<tr>
							<th>{% trans "Active" %}</th>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Date" %}</th>
							<th>{% trans "Owners" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for event in organization.events %}
							<tr>
								<td>
									<form action="" method="post">
										{{event.is_active|yesno:_("Yes,No")}}
									</form>
								</td>
								<td>
									{{event.name}} <a class="fa fa-edit pull-right" href="{% url 'event_admin' organization.urlslug event.urlslug %}"></a>
								</td>
								<td>
									{{event.startdatetime|date:"d.m.y H:i"}} - {{event.enddatetime|date:"d.m.y H:i"}}
								</td>
								<td>
										<a class="fa fa-plus-square-o pull-right" href="{% url 'event_owner_add' organization.urlslug event.urlslug %}"></a>
									<ul>
									{% for owner in event.owners %}
										<li>{{owner.username}} <a class="fa fa-minus-square-o" href="#FIXME"></a></li>
									{% endfor %}
									</ul>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<div class="panel-body">
					<p>{% trans "No events created yet" %}</p>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock%}
