{% extends "base.html" %}
{% load i18n %}
{% load owns_org %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
<h1>{{organization.name}}</h1>
<p>{{organization.about}}</p>
<p>
{% if organization.externalurl %}
<a href="{{organization.externalurl}}" class="btn btn-primary btn-lg" role="button">{% trans "Visit website" %} &raquo;</a>
{% endif %}
{% if user|owns_org:organization %}
<a href="{% url 'organization_admin' organization.urlslug %}" class="btn btn-success btn-lg" role="button">{% trans "Administrate organization" %} &raquo;</a>
{% endif %}
</p>
</div>
</div>

{% include "base_show_events.html" %}


{% endblock%}
