{% load i18n %}

{% if event_featured %}
<div class="jumbotron">
<div class="container">
<h1>{{ event_featured.name }}</h1>
<p>{{ event.about }}</p>
<p><a class="btn btn-primary btn-lg" role="button">{% trans "View details" %} &raquo;</a></p>
</div>
</div>
{% endif %}

<div class="container">
{% if events %}
{% for event in events %}
	{% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
		<div class="col-md-4">
			<h2>{{event.name}}</h2>
			<p>{{event.about}}</p>
			<p><a class="btn btn-default" href="#" role="button">{% trans "View details" %} &raquo;</a></p>
		</div>
	{% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
{% endfor %}
{% endif %}
{% if not events and not event_featured %}
{% comment %}FIXME: This message doesn't look very nice. -- mboehn{% endcomment %}
<p class="lead">{% trans "No active events for the moment!" %}</p>
{% endif %}
</div>
